- name: Install Niri?
  when: window_manager == "niri"
  block:
    - name: Install wayland
      ansible.builtin.include_role:
        name: wayland
    - name: Install Niri packages
      ansible.builtin.include_role:
        name: packages
      vars:
        packages:
          - state: present
            names:
              - brightnessctl # Control brightness from CLI
              # - swaylock #      Lock screen
              - hyprlock #      Lock screen
              - swayidle #      Deamon to handle screen timeout
              - gammastep
              - xdg-desktop-portal-gtk # Service for screen sharing
              - xdg-desktop-portal-gnome # Service for screen sharing
              - gnome-keyring
              - slurp #         Used for screen sharing geometry stuff
              - grim #          CLI tool for taking screenshots on wayland
              - swaybg #        Background images
              - waybar #        Bar
              - kanshi #        Output manager
              # - niri #         The WM
          - state: removed
            names:
              - rofi
              # - xdg-desktop-portal-wlr
              # - xdg-desktop-portal
          - state: present
            aur: true
            names:
              - wlopm #         Output manger (turn screens on/off)
              - rofi-lbonn-wayland-git
              - xwayland-satellite
              # - satty #         Screenshot tool like flameshot that
              # actually works on river but not, yet, on niri
              # - rofi-lbonn-wayland # rofi-lbonn-wayland-git while the other one does not work

    - name: Install dotfiles
      ansible.builtin.include_role:
        name: dotfiles
      vars:
        templatesdir: "{{ role_path }}/../niri/templates"

    - name: Hide GTK Window Decorations
      ansible.builtin.include_role:
        name: gtk3-window-decorations
      vars:
        present: false

    - name: Enable and start service for screen sharing
      ansible.builtin.systemd:
        name: xdg-desktop-portal
        scope: user
        enabled: yes
