/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
  border: none;
  border-radius: 0;
  /* font-family: Nerd Font Hack; */
  font-family: Symbols Nerd Font;
  min-height: 18px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
  color: #4d4d4d;
  background: #e6e6e6;
}

#tags,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#clock,
#idle_inhibitor,
#mode,
#window,
#taskbar,
#custom-bluetooth-battery,
#tray,
#workspaces {
  margin-top: 8px;
  margin-bottom: 0;
  /*   background: #282a36;*/
  background: rgba(40, 42, 54, 0.6);
  color: #f8f8f2;
  padding-left: 7px;
  padding-right: 7px;
}

#tags,
#mode {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

#taskbar.icons {
  padding-left: 0px;
  padding-right: 0px;
}

#window {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-right: 15px;
}

#workspaces {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
#workspaces button {
  padding-left: 5px;
  padding-right: 5px;
  color: #f8f8f2;
}

#pulseaudio,
#cpu,
#memory {
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  padding-right: 15px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-right: 10px;
}

#pulseaudio {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-left: 20px;
}

#taskbar button,
#tags button {
  color: #868681;
  font-size: 16px;
}
#tags button {
  padding-left: 10px;
  padding-right: 10px;
}

#taskbar button {
  padding-left: 10px;
  padding-right: 6px;
}

#taskbar button.active {
  color: #f8f8f2;
}

#tags button.occupied {
  color: #f8f8f2;
}

#tags button.focused {
  color: #ff0000;
}

#tags button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ff3333;
  background: #550000;
  border-radius: 24px;
}

button,
#taskbar.icons button {
  transition: background 0.2s ease-out;
  margin: 0 1px;
  border-radius: 4px;
}

button:hover,
#taskbar.icons button.active:hover {
  background: #b0b0a0;
}

#tags button.urgent {
  background: #ee0000;
  color: #f8f8f2;
}

#idle_inhibitor,
#custom-notification {
  padding-right: 20px;
}
#idle_inhibitor:hover {
  background: #550000;
}

#taskbar.icons button.active {
  background: #868681;
  color: #000;
}
