- name: Create config directories
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME']}}/{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
  with_community.general.filetree: "{{ role_path }}/templates/"
  when: item.state == 'directory'

- name: Create config symlinks
  ansible.builtin.file:
    src: "{{ item.src }}"
    path: "{{ ansible_facts['env']['HOME']}}/{{ item.path }}"
    state: link
    follow: false # avoid corrupting target files if the link already exists
    mode: "{{ item.mode }}"
  with_community.general.filetree: "{{ role_path }}/templates/"
  when: item.state == 'file'

- name: Install packages
  ansible.builtin.include_role:
    name: packages
  vars:
    packages: "{{ wayland_packages }}"
