// Animation settings.
animations {
    workspace-switch {
        spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    window-open {
        spring damping-ratio=0.7 stiffness=800 epsilon=0.0001
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=0.8 stiffness=2000 epsilon=0.00001
    }

    window-movement {
        spring damping-ratio=0.6 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.6 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
}