binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return { spawn "alacritty"; }
    Mod+Shift+Return { spawn "emacs"; }
    Mod+Q { spawn "firefox"; }
    Mod+Space { spawn "launcher"; }
    Mod+Z { spawn "toggleNotificationCenter"; }

    Mod+L { spawn "waylock" "lock-niri"; }

    // You can also use a shell:
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    XF86AudioRaiseVolume { spawn "volume" "inc"; }
    XF86AudioLowerVolume { spawn "volume" "dec"; }
    XF86AudioMute        { spawn "volume" "mute"; }

    XF86AudioMedia { spawn "playerctl" "play-pause"; }
    XF86AudioPlay  { spawn "playerctl" "play-pause"; }
    XF86AudioPrev  { spawn "playerctl" "previous"; }
    XF86AudioNext  { spawn "playerctl" "next"; }

    XF86MonBrightnessUp   { spawn "brightness" "inc"; }
    XF86MonBrightnessDown { spawn "brightness" "dec"; }


    Mod+Shift+Q { close-window; }

    Mod+Comma  { focus-column-left; }
    Mod+I  { focus-window-or-workspace-down; }
    Mod+E    { focus-window-or-workspace-up; }
    Mod+Period { focus-column-right; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-column-right; }

    // Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    // Mod+L     { focus-column-right; }

    Mod+Shift+Comma  { move-column-left; }
    Mod+Shift+I  { move-window-down-or-to-workspace-down; }
    Mod+Shift+E    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Period { move-column-right; }
    // Mod+Ctrl+H     { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    // Mod+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Ctrl+Comma  { focus-monitor-left; }
    Mod+Ctrl+I  { focus-workspace-down; }
    Mod+Ctrl+E    { focus-workspace-up; }
    Mod+Ctrl+Period { focus-monitor-right; }

    Mod+Shift+Ctrl+Comma  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+I  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+E    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Period { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+N      { focus-workspace-down; }
    Mod+P        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    Mod+Shift+N { move-window-to-workspace-down; }
    Mod+Shift+P   { move-window-to-workspace-up; }
    //    Mod+Ctrl+U         { move-column-to-workspace-down; }
    //    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+N { move-window-to-workspace-down; }
    // ...

    // Mod+Shift+N { move-workspace-down; }
    // Mod+Shift+P   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Mod+Shift+Y  { consume-window-into-column; }
    // Mod+Shift+U { expel-window-from-column; }


    // There are also commands that consume or expel a single window to the side.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+Space { toggle-window-floating; }
    Mod+Ctrl+Space { switch-focus-between-floating-and-tiling; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { spawn "screenshot"; }
    // Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    // If you want to skip the confirmation dialog, set the flag like so:
    // Mod+Shift+E { quit skip-confirmation=true; }
    Mod+Ctrl+Escape { quit; }

    //    Mod+Shift+P { power-off-monitors; }

    // This debug bind will tint all surfaces green, unless they are being
    // directly scanned out. It is therefore useful to check if direct scanout
    // is working.
    // Mod+Shift+Ctrl+T { debug-toggle-opaque-regions; }
}

gestures {
  hot-corners {
    bottom-left
  }
}