layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^rofi$"

    geometry-corner-radius 8

    shadow {
       on
       draw-behind-window true
       offset x=1 y=1
       spread 0
       softness 8
       color "#00000050"
    }

  // blur {
  //      on
  // }
}

layer-rule {
    match namespace="^waybar$"

 // blur {
 //      on
 //      passes 3
 //      radius 4.0
 //      noise 0.0
 // }
}
